/**
* Styles for JA-ASOCIADOS
* Versión: 0.1.0
* Dependencies: Normalize
*/

/**
* Structure:
* 
+ -1. RESET ELEMENTS
* 0. Variables
* 1. Layout
* 2. Tipography
* 3. Colors
* 4. Components
* 5. Buttons
* 6. Modals
*/

/* -1. RESET ELEMENTS */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
    font-family: 'Work Sans';
    font-size: 16px;
}

/* 0. Variables */
:root{
    --blanco: #f2f2f2;
    --naranja: #e58900;
    --azul: #3692c3;
    --verde: #2bad70;
    --amarillo: #d8bf2d;
    --negro: #0d0d0d;
    --grisClaro: #b8b8b8;
    --grisOscuro: #706f6f;
    --transition: all 100ms ease-in;
}

/* Utilities */

/* Margins */
.my-1{margin: 1rem 0;}
.my-2{margin: 2rem 0;}
.my-3{margin: 3rem 0;}
.my-4{margin: 4rem 0;}
.mx-1{margin: 0 1rem;}
.mx-2{margin: 0 2rem;}
.mx-3{margin: 0 3rem;}
.mx-4{margin: 0 4rem}

.ml-1{margin-left: 1rem;}
.ml-2{margin-left: 2rem;}
.ml-3{margin-left: 3rem;}
.ml-4{margin-left: 4rem;}
.mr-1{margin-right: 1rem;}
.mr-2{margin-right: 2rem;}
.mr-3{margin-right: 3rem;}
.mr-4{margin-right: 4rem;}


/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fefefe; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--grisClaro); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--grisOscuro); 
}

/* 1. Layout */
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: Arial, Helvetica, sans-serif;
}

/* Wrapper out Sidebar */
.Wrapper{
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 6rem 1fr 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 80px 290px 300px; */
    grid-template-rows: 80px auto 300px;
    grid-template-areas: 
        'Navbar Header Header Header Header Header'
        'Navbar Main Main Main Main Main '
        'Navbar Footer Footer Footer Footer Footer';
}

.is--Sidebar{
    grid-template-areas:
        'Navbar Header Header Header Header Header'
        'Navbar Main Main Main Sidebar Sidebar '
        'Navbar Footer Footer Footer Footer Footer';
}

/* Header */
.Header{
    grid-area: Header;
    background: var(--naranja);
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}
.Mobile__header,
.Mobile__navbar{
    display: none;
}
.NavList{
    display: flex;
}

.NavList__item,
.NavList .menu-item{
    list-style: none;
    margin: 0 1rem;
}

.NavList__link,
.NavList .menu-item a{
    text-decoration: none;
    color: var(--blanco);
    font-weight: bolder;
}

.Language{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Language__link{
    border-radius: 100%;
    border: 1px solid var(--blanco);
    color: var(--blanco);
    text-decoration: none;
    font-weight: bolder;
    padding: .5rem .4rem;
}

.Language__link:hover{
    color: var(--naranja);
    background: var(--blanco);
}

.Search{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.Search__input{
    height: 30px;
    /* width: 250px; */
    width: 0px;
    visibility: hidden;
    background: var(--orange);
    border: 1px solid var(--blanco);
    padding: .5rem;
    color: var(--blanco);
    font-weight: 600;
    transition: var(--transition);
}
.Search__input:active, 
.Search__input:focus{
    background: var(--blanco);
    color: var(--grisOscuro);
}

.Search__active{
    visibility: visible;
    width: 250px;
    animation: SearchAnimation 300ms;
}

.SearchBtn__hide{
    display: none;
    transition: var(--transition);
}

@keyframes SearchAnimation {
    from {
        width: 0px;
    } to {
        width: 250px;
    }
}

.Search__btn{
    width: 30px;
    height: 30px;
    background: none;
    color: var(--blanco);
    font-size: 1.5rem;
    border: 1px 0px 1px 1px solid var(--blanco);
    cursor: pointer;
}

/* Navbar */
.Navbar{
    grid-area: Navbar;
    position: fixed;
    z-index: 5000;
    width: 6rem;
    height: 100%;
    background: var(--blanco);
    box-shadow: 3px 0px 3px rgba(0,0,0,.4);
    padding: 1rem .3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.Navbar__logo{
    margin-bottom: 1.5rem;
}
.Navbar__logo__img{
    width: 80px;
    text-align: center;
}

.Navbar__list{
    padding: 0;
    margin: 0;
}

.Navbar__item,
.Navbar__list .menu-item{
    margin-bottom: .1rem 0;
    list-style: none;
    text-align: center;
    padding:  1rem;
    color: var(--naranja);
    transition: var(--transition);
    border-bottom: 1px solid var(--grisOscuro);
}
.Navbar__item:hover,
.Navbar__list .menu-item:hover{
    background: var(--grisOscuro);
    color: var(--blanco);
}

.Navbar__item:hover .Navbar__link,
.Navbar__list .menu-item:hover a{
    background: var(--grisOscuro);
    color: var(--blanco);
}

.Navbar__link,
.Navbar__list .menu-item a{
    text-decoration: none;
    color: var(--naranja);
    transition: var(--transition);
}
.Navbar__link:hover,
.Navbar__list .menu-item a:hover{
    color: var(--blanco);
}

.Navbar__link__icon{
    padding: 1rem;
    font-size: 1.6rem;
    display: block;
}

/* Current Page Active */
.Navbar .current_page_item{
    background: var(--grisOscuro);
}

.current_page_item .Navbar__link,
.Navbar__list .current_page_item a{
    color: var(--blanco);
}

/* Main */
.Main{
    grid-area: Main;
    /* padding: 1rem; */
    background: var(--blanco);
    overflow-x: hidden;
}

/* Sidebar */
.Sidebar{
    grid-area: Sidebar;
}

/* Footer */
.Footer{
    grid-area: Footer;
    /* width: 100%; */
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 1fr 1fr;
    grid-gap: 0 1%;
    grid-area: 
        'WidgetFooterImage . .'
        'WidgetFooter WidgetFooter WidgetFooter';
    background: var(--grisOscuro);
}
.WidgetFooter{
    /* grid-area: WidgetFooter; */
}
.WidgetFooter__list,
.WidgetFooterSocial__list{
    margin: 0;
    padding: 0;
}
.WidgetFooter__title,
.WidgetFooterSocial__title{
    color: var(--blanco);
}

.WidgetFooterSocial__img{
    width: 40px;
    height: 40px;
    margin: 0 1rem;
}

.WidgetFooter__item,
.WidgetFooterSocial__item{
    list-style: none;
    margin-bottom: .5rem;
}

.WidgetFooterSocial__list{
    display: flex;
    justify-content: flex-start;
}
.WidgetFooter__link,
.WidgetFooterSocial__link{
    color: var(--blanco);
    text-decoration: none;
    font-weight: 700;
}

.Copyright{
    color: var(--blanco);
}


@media screen and (max-width: 768px){
    .Wrapper{
        grid-template-columns: 1fr;
        grid-template-rows: 80px auto 0fr;
        grid-template-areas: 
            'HeaderMobile'
            'Main'
            'Footer';
    }
    .Header, 
    .Navbar,
    .Sidebar {
        display: none;
    }

    /* Mobile Header */
    .Mobile__header{
        grid-area: HeaderMobile;
        display: flex;
        align-items: center;
        padding: 0rem 1rem;
        justify-content: space-between;
    }
    .Mobile__menu__icon{
        color: var(--naranja);
        font-size: 1.5rem;
        font-weight: bolder;
        cursor: pointer;
    }
    .Mobile__logo__img{
        width: 120px;
        height: auto;
    }
    .Mobile__language{
        display: flex;
        align-items: center;
        /* width: 10%; */
        justify-content: space-between;
        
    }
    .Mobile__langauge__text{
        color: var(--naranja);
        text-decoration: none;
        font-weight: 700;
        padding: 0 .4rem;
        line-height: 2;
        margin-right: 1rem;
        border: 2px solid var(--naranja);
        border-radius: 100%;
    }
    .Mobile__search__icon{
        color: var(--naranja);
        font-size: 1.3rem;
        cursor: pointer;
    }
    .Mobile__input{
        display: none;
    }

    .Mobile__navbar{
        display: flex;
        position: fixed;
        width: 280px;
        border-right: 1px solid var(--grisOscuro);
        top: 0;
        left: 0;
        bottom: 0;
        background: var(--blanco);
        overflow-y: auto;
        overflow-x: hidden;
        flex-direction: column;
        align-items: flex-start;
        transition: all 200ms ease-in;
        transform: translateX(-300px);
        z-index: 5000;
    }
    .Mobile__navbar__close__link{
        padding: 1rem;
        text-decoration: none;
    }
    .Mobile__navbar__close__icon{
        color: var(--naranja);
        font-size: 1.5rem;
    }

    .Mobile__navbar__list{
        list-style: none;
        padding: 0 1rem; 
    }
    .Mobile__navbar__item,
    .menu-item{
        padding: .5rem 0;
    }
    .Mobile__navbar__link,
    .menu-item a{
        /* padding: 1rem 0; */
        text-decoration: none;
        display: block;
    }
    .Mobile__navbar__icon,
    ._mi._before{
        color: var(--naranja);
        font-size: 1.8rem;
        width: 2rem;
        text-align: center;
        border-bottom: 1px solid var(--grisOscuro);
        padding-bottom: .5rem
    }
    .Mobile__navbar__text,
    .menu-item a{
        color: var(--grisOscuro);
        font-weight: bolder;
        margin-left: .5rem;
    }

    .Mobile__dropdown,
    .sub-menu{
        list-style: none;
        margin: .5rem 0;
    }
    .Mobile__dropdown__item,
    .sub-menu .menu-item{
        padding: .5rem 0;
    }
    .Mobile__dropdwon__icon{
        color: var(--naranja);
    }
    .Mobile__dropdown__link,
    .sub-menu .menu-item a{
        color: var(--grisOscuro);
        text-decoration: none;
        font-weight: normal;
    }

    .js-menuActive{
        transform: translateX(0px);
    }

    /* Footer */
    .Footer{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}

