@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ff3t66');
  src:  url('fonts/icomoon.eot?ff3t66#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ff3t66') format('truetype'),
    url('fonts/icomoon.woff?ff3t66') format('woff'),
    url('fonts/icomoon.svg?ff3t66#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*[class^="icon-"], [class*=" icon-"] {
   use !important to prevent issues with browser extensions that change fonts
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-aliados:before {
  content: "\e900";
  color: #e19736;
}
.icon-buscar:before {
  content: "\e901";
  color: #e29a3e;
}
.icon-equipo:before {
  content: "\e902";
  color: #e19736;
}
.icon-espanol:before {
  content: "\e903";
  color: #e19736;
}
.icon-experiencia:before {
  content: "\e904";
  color: #d28d32;
}
.icon-facebook:before {
  content: "\e905";
  color: #e19736;
}
.icon-galeria:before {
  content: "\e906";
  color: #e19736;
}
.icon-ingles:before {
  content: "\e907";
  color: #e19736;
}
.icon-inicio:before {
  content: "\e908";
  color: #d28d32;
}
.icon-linkedin:before {
  content: "\e909";
  color: #e19736;
}
.icon-privacidad:before {
  content: "\e90a";
  color: #e19736;
}
.icon-publicaciones:before {
  content: "\e90b";
  color: #d28d32;
}
.icon-razon:before {
  content: "\e90c";
  color: #e19736;
}
.icon-telefono .path1:before {
  content: "\e90d";
  color: rgb(226, 154, 62);
}
.icon-telefono .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(225, 151, 54);
}
.icon-twitter:before {
  content: "\e90f";
  color: #e19736;
}
.icon-unete:before {
  content: "\e910";
  color: #d28d32;
}
.icon-drawer2:before {
  content: "\e9b1";
}
